.tabs .indicator {
    background-color: #ff8f00 !important;
}

/* label color */
.input-field label {
    color: #000;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #ff8f00;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #ff8f00;
    box-shadow: 0 1px 0 0 #ff8f00;
}

/* valid color */
.input-field input[type].valid {
    border-bottom: 1px solid #4caf50;
    box-shadow: 0 1px 0 0 #4caf50;
}

/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #f44336;
    box-shadow: 0 1px 0 0 #f44336;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #000;
}

.page-flexbox-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
    flex: 1 1 auto
}

/* Home - Index */

.background-home-index{
    background-color: #ff8f00;
    min-width: 80%;
}

.icon-application{
    float: left;
}

.title-application{
        color: white;
    margin-left: 2em;
}

.button-center{
    min-width: 100px;
    display: flex;
    justify-content: center;
}

.space{
    height: 5em;
}